/* 
Style for ADS_WpSiteCount
Date: 2014-08-19 
Comment: Modify it if ou need
*/

/* Block format, before- after-text */
#adswsc_block  {
	font-size: small; 
	font-weight: bold; 
	font-style: normal;
 	margin: 0px; 
}

/* Counter boarder */
#adswsc_counter {
  border: 3px inset white;
  border-radius: 3px;
}

/* Countter text */
#adswsc_countertext {
	font-size: large; 
	font-weight: bold; 
	font-style: normal;
}


